section#banner
  .content
    header
      h1 James Fellowship
      p Walking in the Freedom of Christ
    <p>The James Fellowship is a ministry of <a href="http://harvestopc.org">Harvest OPC</a>, which seeks to help men recover from Sexual Addiction. It is a brotherhood of Christians who are striving together to put sin to death and grow in their love for Christ.</p>
    ul.actions
      li
        a(href='intro.html' class='button big') Learn More
  span(class='image object')
    img(src='images/armsopen.jpg')