section
  header.main
    h1 James Fellowship Introduction
  h3 Welcome
  p This page contains the introductory material for the James Fellowship, including our goals and vision for ministry.
  h3 Goals of the James Fellowship
  ol(style='bold')
    li Glorify God by enjoying and being satisfied by intimacy with Christ rather than sexually addictive behaviors <em>(Ps.16:5-11; Westminster Shorter Catechism, Question 1)</em>
    li Display the power of the gospel at work in the lives of men increasingly growing in holiness and walking with Christ (Galatians 5:24-25, Romans 8:13; Westminster Confession of Faith, Chapter 13.1)
    li Facilitate a process of growth in Christ and sanctification, which follows a pattern that includes (taken from STEPS):
      ul
        li Fostering dependence on Christ (not self) and true repentance
        li Examining Fruit
        li Confession and prayer
        li Exposing roots
        li Replanting truth and renouncing lies
        li Encouraging faithful action that will bring reconciliation to that person and:
          ul
            li The Lord
            li His community - wife, children, church, workplace, etc.
            li Himself
    li Encourage a process of growth (goal 2 above) that is rooted in the means of grace
      ul
        li Daily study of the Scriptures and prayer
        li Daily works/processes through the pattern of Gospel transformation
        li Nurturing weekly sharing of this daily study with a trusted mentor, who is further down the path.
        li Nurturing weekly sharing of this daily study with an accountability group
    li Nurture a cultural vulnerability that welcomes ongoing, proactive accountability (on the part of the participant) for men (Hebrews 10:25; James 5:16)
    li Provide effective teaching that lays a:
      ul
        li Gospel Foundation
        li Gives a framework for healthy assessment (see goal 2 above)
        li Encourages faithful action
    li Train leaders that understanding the growth process and can encourage other brothers and sisters at our church (and in our city) likewise to experience the power of the gospel.
  h3 12 Steps and their Biblical Comparisons
  dl
    dt 1. We admitted we were powerless over our sexual addictions and sexually compulsive behaviors, that our lives had become unmanageable.
      dd <em>Romans 7:18 "For I know that nothing good dwells in me, that is, in my flesh. For I have the desire to do what is right, but not the ability to carry it out."</em>
      br
    dt 2. We came to believe that Jesus Christ's power at work in us could restore us to sanity.
      dd <em>Philippians 2:13 "For it is God who works in you, both to will and to work for his good pleasure."</em>
      br
    dt 3. We made a decision to turn our lives and our wills over to the care of God.
      dd <em>Romans 12:1 "I appeal to you therefore, brothers, by the mercies of God, to present your bodies as a living sacrifice, holy and acceptable to God,which is your spiritual worship"</em>
      br
    dt 4. We made a searching and fearless moral inventory of ourselves.
      dd <em>Lamentations 3:40 "Let us test and examine our ways, and return to the Lord"</em>
      br
    dt 5. We admitted to God, to ourselves, and to another human being the exact nature of our wrongs.
      dd <em>James 5:16 "Therefore, confess your sins to one another and pray for one another, that you may be healed. The prayer of a righteous person has great power as it is working."</em>
      br
    dt 6. We were entirely ready to have God remove all these defects of character.
      dd <em>James 4:10 "Humble yourselves before the Lord, and he will exalt you."</em>
      br
    dt 7. We humbly asked Him to remove all our shortcomings.
      dd <em>1 John 1:9 "If we confess our sins, he is faithful and just to forgive us our sins and to cleanse us from all unrighteousness."</em>
      br
    dt 8. We made a list of all persons we had harmed and became willing to make amends to them all.
      dd <em>Luke 6:31 "And as you wish that others would do to you, do so to them."</em>
      br
    dt 9. We made direct amends to such people whenever possible, except when to do so would injure them or others.
      dd <em>Matthew 5:23-24 "So if you are offering your gift at the altar and there remember that your brother has something against you, leave you gift there before the altar and go. First be reconciled to your brother, and then come and offer your gift."</em>
      br
    dt 10. We continued to take personal inventory and when we were wrong, promptly admitted it.
      dd <em>1 Corinthians 10:12 "Therefore let anyone who thinks that he stands take heed lest he fall."</em>
      br
    dt 11. We sought through prayer and meditation to improve our conscious contact with God, praying only for knowledge of His will for us and power to carry that out.
      dd <em>Colossians 3:16 "Let the word of Christ dwell in you richly, teaching and admonishing one another in all wisdom, singing psalms and hymns and spiritual songs, with thankfulness in your hearts to God."</em>
      br
    dt 12. Having had a spiritual experience as the result of these steps, we try to carry this message to others and to practice these principles in all our affairs.
      dd <em>Galatians 6:1 "Brothers, if anyone is caught in any transgression, you who are spiritual should restore him in a spirit of gentleness. Keep watch on yourself, lest you too be tempted."</em>
      br