section
  header.main
    h1 Step One - Our Sinful Condition
  h3 <i>"We admitted we were powerless over our sexual addictions and sexually compulsive behaviors, that our lives had become unmanageable."</i>
  div.box
    <p>Romans 7:18 - "For I know that nothing good dwells in me, that is, in my flesh. For I have the desire to do what is right, but not the ability to carry it out."</p>
  p
    span(class='image left')
      img(src='images/oceanman.jpg')
    | Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
    p Some beginning text
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>
  <br><br><br><br><br>
  .container
    form(data-persist='garlic')
      h3 Introductory Readings
      input(type='checkbox' id='cbox1')
      label(for='cbox1') <em>STEPS</em>  pg 1-8; 249-256 (Introduction and Overview; Five Appendices)
      <br>
      input(type='checkbox' id='cbox2')
      label(for='cbox2') <em>SA book</em> pg 1-78; 185-89; 201-210 (Introductory material; Meetings - How they work; Appendix #2)
      <br>
      input(type='checkbox' id='cbox3')
      label(for='cbox3') <em>Lambert</em> pg 11-16 (Foreward and Introduction)
      <br>
      h3 Step One Readings
      input(type='checkbox' id='cbox4')
      label(for='cbox4') <em>STEPS Workbook</em> pg 12-25 (Daily bible study/prayer/answer questions for Week 1)
      <br>
      input(type='checkbox' id='cbox5')
      label(for='cbox5') <em>SA book</em> pg 79-88 (Surrender - Steps One, Two, and Three)
      <br>
      input(type='checkbox' id='cbox6')
      label(for='cbox6') <em>Lambert</em> pg 17-29 (Chapter 1)
      <br>
      h3 Step One Assignments
      input(type='checkbox' id='cbox7')
      label(for='cbox7') <em>STEPS Workbook</em> pg 26-28 (Week 1 Going Deeper Questions)
      <br>
      input(type='checkbox' id='cbox8')
      label(for='cbox8') First Step Inventory
      a(href='files/firststepinventory.pdf' class='button small') Download
      <br>